<!DOCTYPE html>
<html>
  <head>
    <title>俄语背单词</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 5px;
      }
      .footer {
	font-size: 12px;
      background-color: #FFF;
      position:fixed;
      bottom: 0px;
      width: 100%;
      text-align: center;  
      }
      h2 {color: #3333CC;}
      h3 {color: #3333CC;}
      h4 {color: #3333CC;}
      h5 {color: #3333CC;}
      form { 
	margin: 0 auto; 
	width:250px;
      }
      p {
        word-wrap: break-word; 
      }
    </style>
  </head>
  <body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">主页</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="{{ url_for('mylist') }}">生词本</a></li>
	<li ><a href="{{ url_for('recite') }}">复习</a></li>	
      </ul>

      <form class="navbar-form navbar-left" role="search" action="{{ url_for('lookup') }}" method="post">
        <div class="form-group" >
          <input type="text" class="form-control" placeholder="Search" name=word>
        </div>
        <button type="submit" class="btn btn-default">查单词</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li>
            {% if not session.logged_in %}
            <a href="{{ url_for('login') }}"> 登录
          {% else %}
            <a href="{{ url_for('logout') }}"> 退出
          {% endif %}
        </a></li>
        <li><a href="#">个人信息</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">其他 <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/about">关于</a></li>
            <li class="divider"></li>
            <li><a href="/">回到主页</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



    <div class="container">
      {% block content %}{% endblock %}
    </div>



<div align="center" class="footer">
	<div class="footer">
	  {% block footer %}
	    &copy;2015 Amnesia
	  {% endblock %}
	</div>
</div>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
